
body{
    display: flex;
    justify-content: center;

}



a{
    
   padding: 10px;
    background-color: black;
    font-size: 30px;
    color: aliceblue;
}





 






.m-0{
    margin: 0;
}

.m-1{
    margin: 0.25rem;
}

.m-2{
    margin: 0.5rem; 
}

.m-3{
    margin: 1rem;
}

.mt-3{
    margin-top: 1rem;
}

.ml-3{
    margin-left: 1rem;
}

.p-0{
    padding: 0%;

}

.p-3{
    padding: 1rem;
}


.d-flex{
    display: flex;
}

.justify-content-center{
    justify-content: center;
}

.align-items-center{
    align-items: center;
}


.w-100{
    width: 100%;
}

.h-auto{
    height: auto;
}

.border-1{
    border-width: 0.25rem;
}

.rounded-circle{
    border-radius: 50%;
}


.text-primary{
    color: blue;
}
.text-secondary{
    color: grey;
}

.text-success{
    color: green;
}

.text-danger{
    color: red;
}

.text-warning{
    color: yellow;
}

.text-info{
    color: lightblue;
}

.text-light{
    color: white;
}
.text-dark{
    color: darkred;
}

.text-muted{
    color: grey  ;
}
/* background colors */



.bg-primary{
    color: blue;
}
.bg-secondary{
    color: grey;
}

.bg-success{
    color: green;
}

.bg-danger{
    color: red;
}

.bg-warning{
    color: yellow;
}

.bg-info{
    color: lightblue;
}

.bg-light{
    color: white;
}
.bg-dark{
    color: darkred;
}

.bg-muted{
    color: grey  ;
}